<div class="container" id="app"><br>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Holy guacamole!</strong> the application does not restrict you to
      <a routerLink="/login" class="alert-link">Sign In</a> 
      or 
      <a routerLink="/register" class="alert-link">Sign Up</a>,
      however to access the application settings you must SignIn.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <hr>
    <a href="https://byrodney.info" target="_new"><img src="assets/images/favicon.png" width="30" /></a>
  <h2 class="headertext">Angular, Redux and OAuth.</h2>
  <hr>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="d-flex flex-wrap flex-xl-nowrap flex-lg-nowrap flex-md-nowrap">
      <div class="p-2">
        <a href="https://angular.io/guide/cheatsheet" target="_new">
          <img src="assets/images/NgMandark.png" class="rounded" width="193" height="193" />
        </a>
      </div>
      <div class="p-2">
        <h5 class="alert-heading"><a href="https://kodeflash.herokuapp.com" target="_new">[#1 Complete Guide] Angular with Redux</a></h5>
        <p>Master Angular and start building amazing applications for web, mobile web, native mobile and native desktop.</p>
        <ul>
          <li>Develop modern, complex, responsive and scalable web applications with Angular</li>
          <li>Fully understand the architecture behind an Angular 6 application and how to use it</li>
        </ul>
        <a href="https://github.com/Rodcode47/Todo-App" target="_new" class="btn btn-outline-danger btn-sm">Download the Code!</a>
      </div>
    </div>
  </div>
  <flash-messages></flash-messages>
  <div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Todos App</h3>
        <h6 class="card-subtitle mb-2 text-muted">Using Angular & Redux</h6>
        <app-todo-overview></app-todo-overview>
        <app-todo-list></app-todo-list>
      </div>
    </div>
  </div>

  <hr>
  <app-copyright></app-copyright>
</div>
